.App {
  font-family: sans-serif;
  text-align: center;
}

.coordinates-box {
  width: 400px;
  height: 200px;
  background: purple;
  position: absolute;
  left: 100px;
  top: 100px;
  cursor: move;
  user-select: none;
}

.note-box {
  width: 300px;
  background: lightyellow;
  border: 1px solid #666;
  position: absolute;
  padding: 12px 20px;
  left: 100px;
  top: 100px;
  cursor: move;
  user-select: none;
  color: #000;
  font-weight: bold;
}




/* Book my show css */

.booking-container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-hall {
  padding: 15px;
  padding-bottom: 0;
  border: 1px solid #666;
  border-radius: 5px;
  margin: 30px auto;
  width: fit-content;
}

.seats-group-container, .seats-row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seats-group-container:nth-child(1) {
  padding: 4px 0;
  border-bottom: 1px solid #666;
}

.seats-group-name {
  width: 120px;
}
.seats-row-name {
  width: 40px;
  text-align: right;
}

.empty-row {
  height: 40px;
}

.seats {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.seat {
  width: 30px;
  height: 30px;
  border: 1px solid #666;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 4px 0;
  background-color: greenyellow;
}

.empty-seat {
  border-color: #fff;
  cursor: default;
  background-color: #fff;
}

.selected-seat {
  background-color: orange;
}

.booked-seat {
  background-color: #eee;
  cursor: not-allowed;
}

.screen {
  width: 200px;
  height: 20px;
  border: 1px solid #666;
  border-bottom: none;
  margin: auto;
  text-align: center;
  font-style: italic;
  font-weight: 600;
}


